body{
    font-size: 20px;
    text-align: center;
    background-color: azure;
}

.profile,
.wall,
.information,
.friends{
    border-style: solid;
    border-width: 1px;
}

.profile{
    width: 100%;
    height: 200px;
}

.friends{
    height: 320px;
    width: 50%;
}

.wall{
    width: 100%;
    height: 200px;
}

.information{
    height: 320px;
    width: 50%;
}

.union{
    display: flex;
}

@media screen and (max-width: 1080px){
    .profile{
        height: 400px;
        width: 100%;
    }

    .union{
        display: flex;
        flex-direction: column;
    }

    .wall{
        height: 400px;
        width: 100%;
    }

    .friends,
    .information{
        width: 100%;
        height: 400px;
    }
}

